.ipynb_checkpoints
__pycache__
*.pyc
tempignore
*build/
*.egg-info/
*dist/

*/.ipynb_checkpoints/*
*/__pycache__/*


/checkpoints
/data

/hydra_outputs/

#wandb
/wandb/

#paper
/paper/

#checkpoint
/checkpoints/

/pkgs/

/metrics/

/cache/

/runs/

/multirun/

/struct2seq2pdb/ProteinMPNN/

/struct2seq2pdb/predicted_ca_only/

/tmp/

/struct_results/

/predicted_ca_only/

/fast_struct_results

/typings/

/generated_ca_pdb/
/generated_seq/
/generated_structures/
/generated_full_atom_pdb/
*.png
/*.json
/metric_output/
/shell_script/passwd.sh
/image/

/logs